body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    image-orientation: center;
}

div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    font-size: 40px;
    color: #4285f4;
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    box-shadow: 0 0 5px #ccc;
    outline: none;
}

input[type="submit"] {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
}
